$primary-color: #1AAC7A;
$secondary-color: #333333;
$white: #FFFFFF;
$black: #000000;


// --------------------------------------------------------------------------
//                            PRIMARY COLOR SHADES                           
// --------------------------------------------------------------------------

$primary-color-50: #f4fbf8;
$primary-color-100: #e8f7f2;
$primary-color-200: #c6eade;
$primary-color-300: #a3deca;
$primary-color-400: #5fc5a2;
$primary-color-500: #1aac7a;
$primary-color-600: #179b6e;
$primary-color-700: #14815c;
$primary-color-800: #106749;
$primary-color-900: #0d543c;

// --------------------------------------------------------------------------
//                           SECONDARY COLOR SHADES                          
// --------------------------------------------------------------------------

$secondary-color-50: #f5f5f5;
$secondary-color-100: #ebebeb;
$secondary-color-200: #cccccc;
$secondary-color-300: #adadad;
$secondary-color-400: #707070;
$secondary-color-500: #333333;
$secondary-color-600: #2e2e2e;
$secondary-color-700: #262626;
$secondary-color-800: #1f1f1f;
$secondary-color-900: #191919;