.project-card{
    
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    &:hover{
        .project-card__content{
            opacity: 1;
        }

    }
    
    &__content{
        background-color: $white;
        opacity: 1;

        @include lg-size{
            background-color: rgba($black, .90);
            opacity: 0;
        }

        transition: opacity .3s ease;
    }

    .btn--primary{

        &:hover{
            background-color: $primary-color;
            color: $white;
        }

    }


}